<header class="header">
  <div class="container">
    <div class="row">
      <div class="header-left col-5">
        <a [routerLink]="['/home']" class="logo">
          <img src="assets/img/logo-decentalized-technologies-light.svg" alt="D/T">
        </a>
      </div>
      <div class="header-right col-7">
        <nav>
          <a target="_blank" href="https://drive.google.com/open?id=1OUNH3qAubNMMlc_F3OBn90vTlC1iPg-m" class="text-white">Whitepaper</a>
        </nav>
      </div>
    </div>
  </div>
</header>
