<header class="header">
  <div class="container">
    <div class="row">
      <div class="header-left col-5">
        <a [routerLink]="['/home']" class="logo">
          <img src="assets/img/logo-decentalized-technologies-light.svg" alt="D/T">
        </a>
      </div>
      <div class="header-right col-7">
        <nav>
          <a target="_blank" href="https://www.dropbox.com/s/mvehkok2b0lss5j/D-T%2BWHITE%2BPAPER.pdf?dl=0" class="text-white">Whitepaper</a>
        </nav>
      </div>
    </div>
  </div>
</header>
