#home {
  background-color: theme-color('dark');
  min-height: 100vh;
  #intro {
    @include flex-column-center;
    @include header-padding;
    min-height: 100vh;
    color: white;
    .disclaimer {
      hr {
        margin: get-spacer(3) 0;
        border-color: white;
        border-width: 5px;
        max-width: 70px;
      }
    }
    h3 {
      color: $pink;
    }
  }
}

@include media-breakpoint-down(sm) {
  #home {
    #intro {
      @include header-padding($header-height-mobile);
    }
  }
}
