<div id="home">
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="header-left col-sm-3">
          <a href="#" class="logo">
            <img src="assets/img/logo-decentalized-technologies-light.svg" alt="D/T">
          </a>
        </div>
      </div>
    </div>
  </header>

  <section class="section" id="intro">
    <div class="container">
      <h1 class="disclaimer">
        <strong>Disclaimer</strong>
        <hr> We do not own any code. We cannot control decentralized applications. We are not responsible for how they are used.</h1>
      <br>
      <h3>We develop
        <u>anonymous</u>,
        <u>immutable</u> and
        <u>decentralized</u> applications to
        <strong>enable blockchain mass-adoption</strong>
      </h3>
    </div>
  </section>
</div>
