@import "sass/dt";

#home {
  background-color: theme-color('dark');
  min-height: 100vh;
  #intro {
    @include flex-column-center;
    @include header-padding;
    min-height: 100vh;
    color: white;
  }
}
