<div id="home">
  <app-header></app-header>

  <section class="section" id="intro">
    <div class="container">
      <h1 class="disclaimer">
        We develop
        <br>
        <strong>A</strong>nonymous,
        <br>
        <strong>I</strong>mmutable and
        <br>
        <strong>D</strong>ecentralized projects
        <br>to empower the individual.
      </h1>
      <hr>
      <nav class="mt-4">
        <a [routerLink]="['/dapps']" class="btn btn-lg btn-light">Explore the projects
          <i class="icon-chevron-right"></i>
        </a>
      </nav>
    </div>
  </section>
</div>
