@charset "UTF-8";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "sass/bootstrap-variables";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/print";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/card";
@import "bootstrap/scss/utilities";

// EBM variables
@import "sass/ebm-variables";
@import "ebm/functions/ebm-functions";
@import "ebm/helpers/ebm-helpers";
@import "sass/ebm-fonts-setup";
@import "sass/ebm-fonts";
@import "sass/ebm-bootstrap-overrides";
@import "ebm/control/ebm-text-responsive-control";
@import "ebm/elements/ebm-icons";
@import "ebm/control/ebm-container-control";
@import "sass/ebm-overrides";
@import "sass/ebm-global";
@import "ebm/modules/ebm-header";

.site-wrapper {
  overflow: hidden;
}

/* RESPONSIVE FONT RESIZE */

$headings-ratio-1-3: .675;
$headings-ratio-4-6: .875;
@include media-breakpoint-down(sm) {
  h1 {
    font-size: $h1-font-size * $headings-ratio-1-3;
  }
  h2 {
    font-size: $h2-font-size * $headings-ratio-1-3;
  }
  h3 {
    font-size: $h3-font-size * $headings-ratio-1-3;
  }
  h4 {
    font-size: $h4-font-size * $headings-ratio-4-6;
  }
}

@mixin header-padding($padding: $header-height-control) {
  padding-top: px-to-rem($padding);
}

.header {
  background-color: transparent;
  border-bottom: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

@import "components/home.component";
@import "components/dapps.component";


@include media-breakpoint-down(sm) {
  .header {
    .header-left,
    .header-center,
    .header-right {
      height: $header-height-mobile;
    }
    .logo {
      img {
        width: 140px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #home {
    #intro {
      @include header-padding($header-height-mobile);
    }
  }
  #dapps {
    #intro {
      @include header-padding($header-height-mobile);
    }
  }
}
